body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.App {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #1e40af;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  color: #4b5563;
  text-align: center;
  margin-top: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2563eb;
}

.message-container {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.message-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #111827;
}

.message {
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 70%;
  display: inline-block;
  position: relative;
  word-wrap: break-word;
  background-color: #e5e7eb;
  color: black;
}

.message-self {
  background-color: #3b82f6;
  color: white;
  align-self: flex-end;
}

.message-other {
  background-color: #e5e7eb;
  align-self: flex-start;
}

.message span {
  color: #313131;
  font-size: 0.7rem;
  bottom: 5px;
  right: 10px;
  font-weight: bold;
}

input[type="text"].message-input {
  width: 70%;
  margin-bottom: 15px;
}

button.send-message {
  margin-left: 10px;
}

.message-container p {
  margin: 0;
}

.no-messages {
  text-align: center;
  color: #9ca3af;
}
